<h1>this is company page</h1>
<h2>looping<%=@names.each do |nam|%>
<i><%=nam %></i>
<% end %>
</h2>


<h1>print data in table</h1>
<table>
    <tr>
    <%=@names.each do |n|%>
        <td>name1: <%=n%></td>
        <% end %>
    </tr>
</table>


